.search-input{
  padding: 0.6rem 0.7rem 0.6rem 2rem;
  width: 15rem;
  background: #FFFFFF;
  /* Navy/500 */

  border: 1px solid #C0C4CC;
  border-radius: 2px;
}
.search-input:focus{
  border-color: #3c3c3c;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

@media (max-width: 35rem) {
  .search-input{
    padding: 0.6rem 0.7rem 0.6rem 2rem;
    width: 20rem;
  }
  .input-icons{
    margin-top: 1rem;
  }
}
