.navbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 35rem) {
  .navbar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}